<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HighOctane.Blog</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link lead" asp-controller="Home" asp-action="Index"> { Home } </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" asp-controller="Category" asp-action="ViewCategoryList"> { Categories } </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lead" asp-controller="Tag" asp-action="ViewTags"> { Tags } </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto flex-sm-row-reverse">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle lead" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                { Change Theme }
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a id="darkOption" class="dropdown-item" href="#" onclick="setDarkTheme()">Dark</a>
                                <a id="darkBlueOption" class="dropdown-item" href="#" onclick="setDarkBlueTheme()">Deep Blue</a>
                                <a id="lightOption" class="dropdown-item" href="#" onclick="setLightTheme()">Fluroscent</a>
                                <a id="blueOption" class="dropdown-item" href="#" onclick="setLightBlueTheme()">Light Sky</a>
                                <a id="herRed" class="dropdown-item" href="#" onclick="setRedTheme()">Passion</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link lead" asp-controller="Post" asp-action="CreateOrEditPost"> { New Post }</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" asp-controller="Category" asp-action="CreateOrEditCategory"> { Create Category } </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" asp-controller="Tag" asp-action="CreateOrEditTag"> { Create Tag } </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" asp-controller="Auth" asp-action="Logout"> { Sign out } </a>
                        </li>
                    </ul>

                </div>
            </nav>
        }


    </header>


    <div class="container overflow-hidden">
        <main role="main" class="pb-3 overflow-hidden">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2020 - HighOctane.Blog
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
