@import "../lib/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #fff;
    --font-color-hover:#818cab;
    --bg-color: #B62F34;
    --heading-color: #fff;
}

[data-theme="darkblue"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --font-color-hover: #818cab;
    --bg-color: #161625;
    --heading-color: #818cab;
}


[data-theme="light"] {
    --primary-color: #000;
    --secondary-color: #536390;
    --font-color: #000;
    --font-color-hover: #536390;
    --bg-color: #fff;
    --heading-color: #000;
}


[data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #536390;
    --font-color: #fff;
    --font-color-hover: #536390;
    --bg-color: #000;
    --heading-color: #fff;
}

[data-theme="lightblue"] {
    --primary-color: #000;
    --secondary-color: #818cab;
    --font-color: #000;
    --font-color-hover: #818cab;
    --bg-color: #e1e1ff;
    --heading-color: #1b6ec2;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color:var(--font-color);
}

.dropdown {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
}

.dropdown-menu {
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
}

.badge-pill {
    margin-top:1px;
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
    border-width: thin;
}

.badge {
    margin-top:1px;
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
    border-width: thin;
}

.dropdown-item {
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
}

.dropdown-toggle {
    background-color: var(--bg-color);
    color: var(--font-color);
    border-color: var(--font-color);
}

.label {
    color: var(--font-color);
    background-color: var(--bg-color);
    border-color: var(--bg-color)
}

.form-control {
    color: var(--font-color);
    background-color: var(--bg-color);
    border-color: var(--font-color);
}

* {
    box-sizing: border-box;
}

/*.btn {
    color: var(--font-color);
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}*/

.btn {
    color: transparent;
    background-color: transparent;
    border-color: var(--font-color);
    &:hover, &:focus, &:active:focus, &.focus, &.active {
        box-shadow:none;
        background-color:var(--bg-color);
        color:var(--font-color);
        border-color:var(--font-color);
    }
}


.border{
    color: var(--font-color);
    border-color: var(--font-color);
    background-color:var(--bg-color);
    border-style: solid;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 1em;
}

.mainPost {
    width: 100%;
}

.metaBox {
    width: 100%;
    overflow: hidden;
}

.no-padding{
    padding:0;
    margin:0;
}

.no-bullets{
    list-style:none;
}


@media (min-width: 800px) {
    
    .mainPost{
        float : left;
        width : 75%;
    }

    .metaBox{
        float : right;
        width : 25%;
    }
}


.border-top {
    border-top: 1px solid var(--font-color);
}

.border-bottom {
    border-bottom: 1px solid var(--font-color);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.border{
    border-radius:0.2%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

body {
    width:100%;
    height:100%;
    margin:0;
    font-family: 'Consolas','Inconsolata', 'Segoe UI', monospace;
    background-color: var(--bg-color);
    color: var(--font-color);
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-size: calc(1rem + 0.25vh);
}

h1 {
    color: var(--heading-color);
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

p {
    font-size : 1.2rem;
    line-height: 1.75rem;
}

a {
    color: var(--font-color);
    text-decoration: none;

    &:hover, &:focus, &:active {
        background-color: var(--bg-color);
        color: var(--font-color-hover);
        border-color: var(--font-color);
        text-decoration: none;
    }
}

section {
    max-width: 68%;
    margin: 0 auto;
}

.post-meta {
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.nav-link {
    color: var(--font-color);
    text-decoration: none;

    &:hover, &:focus, &:active {
        background-color: var(--bg-color);
        color: var(--font-color-hover);
        border-color: var(--font-color);
    }
}

.nav-item {
    color: var(--font-color);
    text-decoration: none;
    &:hover, &:focus {
        background-color: var(--bg-color);
        color: var(--font-color-hover);
        border-color: var(--font-color);
    }
}


.tag-container{
    border : 1px solid var(--font-color);
    padding : 10px;
    border-radius : 5px;
    display:flex;
    flex:1;
    flex-wrap:wrap;
    overflow-x:scroll;
    align-content:flex-start;
}


.tag{
    padding : 5px;
    margin : 5px;
    border : 1px solid var(--font-color);
    display : flex;
    align-items: center;
    border-radius:3px;
    cursor:pointer;
}

.tag i{
    margin-left : 5px;
    font-size: 14px;
    
}

.tag-container-input{
    flex:1;
    padding:5px;
}


::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
   color:var(--font-color);
   background-color:var(--bg-color);
}

::-webkit-scrollbar-thumb{
    color:var(--font-color);
    border:1px solid var(--font-color);
    width:10px;
}


.suggestions{
    margin-top : 5px;
}

.suggestions > div {
    padding : 15px;
    font-size : 14px;
    color : var(--font-color);
    border-top : 1px solid var(--font-color);
}

.suggestions > div:hover {
    color: var(--bg-color);
    background-color:var(--font-color);
    border-top: 1px solid var(--bg-color);
}

blockquote{
    @extend .blockquote;
    padding: 10px;
    padding-top: 15px;
    margin-top: 5px;
    border : 1px dotted var(--font-color);
    border-left:10px solid var(--font-color);

}
.card-body{
    overflow-x : scroll;
}

.lead {
    padding: .5rem 1rem;
}