@model LoginViewModel 



@{
    ViewData["Title"] = "Sign In Page";
}

    <div class="text-center">

        <div class="container">
            <div class="card mb-3 w-50">

                <div class="card-header">
                    <h1>Welcome.</h1>
                    <h3>Please Sign In.</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Auth" method="post" class="form-group">

                        <div class="col-xs-4">
                            <label class="label"> User Name </label>
                            <input type="text" asp-for="UserName" class="form-control mb-3" />
                        </div>

                        <br />

                        <div class="col-xs-4">
                            <label class="label"> Password </label>
                            <input type="password" asp-for="Password" class="form-control mb-3" />
                        </div>
                        <hr />

                        <input class="btn btn-lg" type="submit" value="Sign In" />

                    </form>
                </div>
            </div>
        </div>

        <span asp-validation-for="UserName" class="label"></span>
        <br/>
        <span asp-validation-for="Password" class="label"></span>

    </div>
