@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A very unusual blog.</p>
</div>

<div class="container">
    @foreach (Post post in Model)
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="lead nav-link" asp-action="ViewPost" asp-controller="Post" asp-route-id="@post.Slug">@post.Title</a>
            </div>
            <br />
        </div>
        <div class="row">
            <div class="text-left col-xs-12">
                <p class="nav-link">@post.Excerpt</p>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="text-left col-xs-12">
                <p class="nav-link">@Convert.ToDateTime(post.UpdateTime.ToString("dddd, dd MMMM yyyy HH:mm:ss.fff"),System.Globalization.CultureInfo.InvariantCulture)</p>
            </div>
        </div>
        <hr class="border" />
    }
</div>
