@model Post

@{ 
    string title;
    if (Model == null )
        title = "Create new Post";
    else
        title = "Edit Post";
}


<div class="container">

    <div class="card bg-danger text-center w-75 border-light">
        <div class="card-header bg-danger mb-3">
            <h2 class="lead">
                @title
            </h2>
        </div>
        <div class="card-body bg-danger">
            <form asp-action="CreateOrEditPost" asp-controller="Post" method="post" class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="container w-50">

                            <label class="text-white"> Title </label>
                            <input class="form-control" type="text" asp-for="Title" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="container w-75">
                            <label class="text-white"> Content </label>
                            <textarea class="form-control" asp-for="Content"></textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col">
                        <div class="container w-25">
                            <input class="form-control btn btn-outline-danger border-white" type="submit" value="Save" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty((string)ViewData["PostResult"]))
{
    <div class="container bg-danger text-white">
        @ViewData["PostResult"]
    </div>
}

<div class="container text-center">
    <span asp-validation-for="Title" class="text-white"></span>
    <br />
    <span asp-validation-for="Content" class="text-white"></span>
</div>