@model IEnumerable<Category>


@{
    ViewData["Title"] = "Browse Categories";
}

<div class="container-fluid">
    <div class="text-center">
        <h2 class="display-4">Categories</h2>
        <p>Browse Posts by Categories</p>
    </div>
</div>

<br />

<div class="container-fluid">
    <ul class="d-sm-inline-flex no-bullets no-padding">
        @foreach (Category category in Model)
        {
            <li class="container-sm">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <a class="lead nav-link" asp-action="ViewCategory" asp-controller="Category" asp-route-id="@category.Id">@category.Name</a>
                        </div>
                    </div>
                </div>
            </li>
        }
        &nbsp;
    </ul>
</div>